.banner {
    background: var(--cor-azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5rem 2rem;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

.banner__texto {
    font-weight: 500;
    line-height: 24px;
    margin: 1rem 0;
}

.banner__pesquisa {
    background-color: transparent;
    border: 2px solid var(--branco);
    border-radius: 25px;
    color: var(--branco);
    padding: 1rem;
    width: 100%;
}

.banner__pesquisa::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: var(--branco);
    text-align: center;
    background: url("../img/Pesquisa.svg") no-repeat;
    background-size: 1.3rem;
    background-position: 0.4rem;
}