.carrossel__titulo {
    color: var(--cor-do-texto-laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    padding: 1rem 0 0.5rem 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next,
.swiper-scrollbar {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5rem 0 1rem 0;
}

.card {
    background-color: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    align-items: flex-start;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;
    align-items: center;
}

.descricao__titulo {
    color: var(--cor-do-texto-laranja);
    font-weight: 700;
    line-height: 24px;
}

.descricao__titulo-livro {
    color: var(--cor-do-texto-azul);
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    margin: 0.5rem 0;
}

.descricao__texto {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.botoes__item {
    margin: 0 0.5rem;
}

.botoes__ancora {
    background-color: var(--cor-do-texto-laranja);
    padding: 1rem 2.2rem;
    color: var(--branco);
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;

}

.botoes__ancora:active {
    background-color: var(--cor-do-texto-azul);
}

.descricao__imagem {
    margin-bottom: 0.5rem;
}

.descricao {
    padding-right: 0.3rem;
}

@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 26px;
        line-height: 39px;
        padding: 3rem 0 1rem 0;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        top: 60%;
    }

    .swiper-pagination {
        margin: 1rem 0 3rem 0;
    }

    .swiper-pagination-bullet {
        width: 1rem;
        height: 1rem;
    }

    .swiper {
        width: 50%;
        margin-bottom: 3rem;
    }

    .card {
        width: 40%;
        margin: 1rem auto;
    }

    .descricao__texto {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .carrossel__titulo {
        font-size: 32px;
    }

    .container__carrossel {
        display: flex;
        align-items: center;
        padding: 3rem 20vh 6rem 20vh;
    }

    .descricao__titulo {
        font-size: 32px;
        line-height: 48px;
    }

    .card {
        width: 50%;
        margin: 1rem 0 1rem 6rem
    }
}