hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1rem;
}

.rodape__titulo {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        padding-bottom: 3rem;
    }

    .rodape__titulo {
        font-size: 24px;
        line-height: 36px;
        padding: 1rem 0;
    }

    .lista-rodape {
        display: inline-block;
        margin-top: 1rem;
    }

    .lista-rodape__titulo {
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
        color: var(--cor-do-texto-cinza);
        text-transform: uppercase;        
    }

    .lista-rodape__item {
        padding: 1rem 0;
        display: flex;
        align-items: center;
    }

    .lista-rodape__link {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: var(--cor-do-texto-vinza-escuro);
        text-decoration: none;
        padding-left: 0.5rem;
    }

    .lista-rodape__link:hover {
        color: var(--cor-do-texto-laranja);
    }
}

@media screen and (min-width: 1728px) {
    .lista-rodape {
        border-left: 1px solid var(--cor-do-texto-cinza);
        padding-left: 1rem;
    }

    .rodape {
        padding-top: 3rem;
    }
}