.topicos {
    padding: 1rem 0.5rem;
    margin-top: 2rem;
}

.topicos__titulo {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
    margin: 1rem 0;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0;
}

.topicos__item{
    box-sizing: border-box;
    margin: 2rem 0.5rem;
}

.topicos__link {
    padding: 1rem;
}

@media screen and (min-width: 1024px) {
    .topicos__titulo {
        font-size: 24px;
        line-height: 36px;
    }
    
    .topicos__link {
        font-size: 24px;
        line-height: 36px;
    }

    .topicos__link:hover {
        color: var(--cor-do-texto-laranja);
        background-color: var(--branco);
    }
}

@media screen and (min-width: 1728px) {
    .topicos {
        padding: 3rem 30vh;
    }
}